
body {
    margin: 1rem;
}

.seccion {
    background-color: rgb(0, 94, 182);
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    box-shadow: 0 0 15px black;
}

.papelera {
    text-align: center;
}

.parr {
    background-color: beige;
    padding: 1rem;
    font-size: 24pt;
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: 100%;
}

.parr:hover {
    cursor: grab;
}

#parr-1 {
    color: #ff0000;
}
#parr-2 {
    color: #ff4500;
}

#parr-3{
    color: #cd5c5c;
}
#parr-4{
    color: #b22222;
}
#parr-5{
    color: #8b0000;
}
#parr-6{
    color: #ff6961;
}
#parr-7{
    color: #e97451;
}
#parr-8{
    color: #fd5e53;
}

.parr.dragging {
    opacity: 0.3;
    transition: all 0.1s;
    visibility: hidden; 
}

.parr.draggong {
    opacity: 1;

}
